.features
  position: relative
  max-width: 1230px
  width: 90%
  padding-top: 260px
  padding-bottom: 103px
  padding-left: 0
  padding-right: 0
  margin: auto
  &-title
    display: block
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 140%
    text-transform: uppercase
    margin-bottom: 10px
    &__1
      display: flex

      align-items: center
      justify-content: center

  &-text
    width: 490px
    font-style: normal
    font-weight: normal
    font-size: 29px
    line-height: 179.69%
    color: $white
  &__button
    display: block
    font-style: bold
    font-size: 21px
    min-width: 316px
    padding: 20px 20px
    color: $white
    background-color: $theme
    border: 2px solid #FFFFFF
  &__fan
    color: $gray
    font-size: 15px
    margin-top: 10px
  &__circle
    height: 330px
    width: 330px
.table
  &-row
    width: 300px
    padding-top: 10px
    padding-bottom: 10px
    margin-right: 15px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 21px
    line-height: 179.69%
    color: $white
    &--wallet
      font-size: 21px
.overviews
  margin: auto
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
.table
  margin-bottom: 28px
.rocket
  width: 444px
  height: 165vh
  position: absolute
  top: 222px
  right: 154px
  z-index: 99
.join
  &--1
    font-size: 18px
    margin-bottom: 12px
    display: flex
    justify-content: space-between
    align-items: center
  &__wrapper
    max-width: 550px
    margin-top: 18px
    display: flex
    align-items: start
    justify-content: space-between
    flex-direction: column
